{% extends 'posts/base.html' %}

{% block title %} FaGo | {{ user.username }} {% endblock %}

{% block content %}

<main class="container">
  <form class="edit-profile-form" method="POST" action="{% url 'edit-profile' %}" enctype="multipart/form-data">
    <h1>Edit Profile</h1>
    {% csrf_token %}
    
    <div class="form-group">
        <label for="profile-pic">Profile Picture</label>
        {{ form.profile_picture }}
    </div>

    <div class="form-group">
        <label for="first-name">Display Name</label>
        {{ form.first_name }}
    </div>

    <div class="form-group">
        <label for="profile-bio">Bio</label>
        {{ form.profile_bio }}
    </div>
    
    <button type="submit" class="btn">Save Changes</button>
</form>

</main>
{% endblock %}