{% extends 'posts/base.html' %}

{% block title %} FaGo | {{ user.username }} {% endblock %}

{% block content %}
<div class="profile-card">
   <div class="profile-header">
     <img src="{{ user.userprofile.profile_picture.url }}" alt="img" class="profile-picture">
     <div class="profile-info">
       <h1>{{ user.first_name }}</h1>
       <h2>@{{ user.username }}</h2>
       <p>{{ user.email }}</p>
       
       <div class="profile-icons">
          <a href="{% url 'edit-profile' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
              <path fill="#1a6edb" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75z" />
            </svg>
           </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
              <path fill="#d41111" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zM19 4h-3.5l-1-1h-5l-1 1H5v2h14z" />
            </svg>
          </a>
       </div>

     </div>
   </div>
   <div class="profile-bio">
     <h2>Bio</h2>
      <p>{{ user.userprofile.profile_bio }}</p>
   </div>
 </div>
{% endblock %}