{% extends 'posts/base.html' %}

{% block title %} FaGo | {{ user.username }} {% endblock %}

{% block content %}
<div class="profile-card">
   <div class="profile-header">
     <img src="{{ user.userprofile.profile_picture.url }}" alt="img" class="profile-picture">
     <div class="profile-info">
       <h1>{{ user.first_name }}</h1>
       <h2>@{{ user.username }}</h2>
       <p>{{ user.email }}</p>
       <button class="edit-profile-btn"><a href="{% url 'edit-profile' %}">Edit profile</a></button>
     </div>
   </div>
   <div class="profile-bio">
     <h2>Bio</h2>
     <!-- <p>{{ user.userprofile.bio }}</p> -->
      <p>{{ user.userprofile.profile_bio }}</p>
   </div>
 </div>
{% endblock %}