{% load humanize %}
<div class="comment">
    <div class="comment-header">
        <img src="{{ comment.comment_author.userprofile.profile_picture.url }}" alt="User Avatar" class="comment-avatar">
        {% if comment.comment_author == comment.post.author %}
            <span class="comment-author">{{ comment.comment_author.first_name }} <span class="special">Author</span></span>
        {% else %}
            <span class="comment-author">{{ comment.comment_author.first_name }}</span>
        {% endif %}
        <span class="comment-date">{{ comment.comment_at|naturaltime }}</span>
    </div>
    <p class="comment-text">{{ comment.comment|linebreaksbr }}</p>
    <div class="comment-actions">
        {% if user.is_authenticated %}
            <a href="#" class="show-link" onclick="replyBoxToggle({{ comment.id }}); return false;">Reply</a>
        {% endif %}
    </div>
    <!-- Reply Box -->
    <div id="reply-box-{{ comment.id }}" class="reply-box hidden" style="display: none;">
        <form action="{% url 'comment-reply' comment.id %}" method="POST" class="reply-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-button">Post Reply</button>
        </form>
    </div>
    <!-- Subcomments (Replies) -->
    {% if comment.subcomments.all %}
        <div class="comment-replies">
            {% for subcomment in comment.subcomments.all %}
                {% include 'comments/comment_item.html' with comment=subcomment %}
            {% endfor %}
        </div>
    {% endif %}
</div>