<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}" class="logo">Fago</a>
            <a href="{% url 'explore-communities'  %}">Explore</a>
            <form method="GET" action="{% url 'search' %}">
                <input type="text" name="query" placeholder="Search..." value="{{ request.GET.query }}" required>
                <button type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
            <div class="nav-right">
                <div class="notifications">
                    <button id="notificationBtn" class="btn-icon"><i class="fas fa-bell"></i></button>
                    <div id="notificationBox" class="notification-box">
                        <h3>Notifications</h3>
                        <ul>
                            {% for notification in user.notifications.all reversed %}
                            <li>
                                {% load humanize %}
                                <strong><a href="" class="hi">{{ notification.notification_from }}</a></strong> replied to your post <br><a href="{% url 'notification' notification.id %}" class="hi">View</a> <a href="{% url 'delete-notification' notification.id %}?next={{ request.get_full_path }}" class="hi">Delete</a>
                                <span class="notification-time">{{ notification.time|naturaltime }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
            <a href="{% url 'create-post' %}">Post</a>
            <a href="{% url 'user_profile' %}">Profile</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message }}
                {% if message.tags == "error" %}
                    <a href="{% url 'help_page' %}" class="btn-link">Help</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endif %}


    {% block content %}

    {% endblock %}
    <footer>
        <p>Django-Fago</p>
    </footer>

    <script>
        const notificationBtn = document.getElementById('notificationBtn');
        const notificationBox = document.getElementById('notificationBox');

        notificationBtn.addEventListener('click', () => {
            notificationBox.style.display = notificationBox.style.display === 'block' ? 'none' : 'block';
        });

        // Close the notification box if clicked outside
        window.addEventListener('click', (e) => {
            if (!notificationBtn.contains(e.target) && !notificationBox.contains(e.target)) {
                notificationBox.style.display = 'none';
            }
        });
    </script>
</body>
</html>