{% extends "posts/base.html" %}
{% block title %}FaGo | Post{% endblock %}

{% block content %}
{% load humanize %}

<main class="container">
    <article class="full-post">
        <h1>{{ post.title }}</h1>
        <div class="post-meta">
            <span>Posted by: {{ post.author }}</span>
            <span>{{ post.posted_at|naturaltime }}</span>
            <span>Community: {{ post.community }}</span>
        </div>
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="Post image" class="post-image" style="margin-top: 10px;">
        {% endif %}
        <div class="post-content">
            <p>{{ post.content|linebreaksbr }}</p>
        </div>

        <div class="d-flex flex-row">

            <form action="{% url 'post-like' post.id %}" method="POST" class="like-form">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{request.path}}">
              <button class="background-color:transparent; border:none; box-shadow:none;" style="background-color: transparent; border: none; box-shadow: none;" type="submit" name="post_id" value="{{ post.id }}">
              {% if user not in post.likes.all %}
                <i class="far fa-thumbs-up" id="like-count-{{ post.id }}" style="margin-right: 2rem;">
              {% else %}
                <i class="fa-solid fa-thumbs-up" id="like-count-{{ post.id }}" style="margin-right: 2rem;"> 
              {% endif %}
                <span>{{ post.likes.all.count }}</span></i>
              </button>
            </form>
    
            <form action="{% url 'post-dislike' post.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{request.path}}">
              <button class="background-color:transparent; border:none; box-shadow:none;" style="background-color: transparent; border: none; box-shadow: none;" type="submit">
            {% if user not in post.dislikes.all %}
                <i class="far fa-thumbs-down" id="js-dilike-button" data-post-id="{{ post.pk }}"> 
              {% else %}
              <i class="fa-solid fa-thumbs-down" id="js-dilike-button" data-post-id="{{ post.pk }}"> 
              {% endif %}
              <span>{{ post.dislikes.all.count }}</span></i>
              </button>
            </form>
          </div>
        </div>
    </article>

    <section class="comments">
        <h2>Comments</h2>

        <!-- comment form toggle -->
            {% if user.is_authenticated %}
            <a href="#" class="show-link" onclick="toggleBox(event, 'comment-box')">Add a Comment</a>
            {% else %}
            <a href="{% url 'login' %}" class="hi">Login</a> to comment
            {% endif %}

            <div class="comment-thread">
                <div class="comment-box" id="comment-box">
                    <form action="{% url 'read-post' post.id %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button>Post Comment</button>
                    </form>
                </div>
            <!--  -->
            {% for comment in comments reversed %}
                {% if comment.is_parent %}
                    {% include 'comments/comment_item.html' with comment=comment %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
</main>

<script>
    function toggleBox(event, boxId) {
        event.preventDefault();
        const box = document.getElementById(boxId);
        box.classList.toggle('active');
    }
</script>
{% endblock %}
