{% extends 'posts/base.html' %}

{% block title %} {{ community.name }} {% endblock %}

{% block content %}

<div class="communities-expore">
    <div class="communities-header">
        <h2>Community</h2>
        <div class="c-actions">
                {% if user in community.members.all %}
                <div class="btn">
                    <a href="{% url 'leave-community' community.id %}">Leave</a>
                </div>
                {% else %}
                <div class="btn">
                    <a href="{% url 'join-community' community.id %}">Join</a>
                </div>
                {% endif %}
                {% if user == community.owner %}
                <div class="btn">
                    <a href="{% url 'delete-community' community.id %}">Delete Community</a>
                </div>
                <p style="color: red;">You are the owner</p>
                {% endif %}
        </div>
    </div>
    <div class="community">
        <div class="community-banner">
            {% if community.banner %}
                <img src="{{ community.banner.url }}" alt="">
            {% else %}
                <p>No Banner</p>
            {% endif %}
        </div>
        <div class="community-header">
            <h3>{{ community.name }}</h3>
            <p>{{ community.description }}</p>
        </div>
        <div class="community-members">
            <h4>Community Members</h4>
            <div class="members-card">
            {% for member in members %}
                {{ member.username }} <br>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}