{% extends 'posts/base.html' %}

{% block title %}Communities{% endblock %}

{% block content %}

<main class="container">
    <h1>Explore Communities</h1><a href="{% url 'create-community' %}" class="hi">Create Community</a>
    <div class="communities">
        {% for community in communities %}
        <div class="community-card">
            <h2>{{ community.name }}</h2>
            <p>{{ community.description }}</p>
                {% if community in user.communities.all %}
                <a href="{% url 'community' community.name %}" class="btn">View</a>
                {% else %}
                <a href="{% url 'join-community' community.name %}" class="btn">Join Community</a>
                {% endif %}
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}
