{% extends 'posts/base.html' %}

{% block title %}Communities{% endblock %}

{% block content %}

<div class="communities-explore">
    <div class="communities-header">
        <h2>Explore Communities</h2>
        <div class="c-actions">
            <div class="btn">
                <a href="{% url 'create-community' %}">Create Community</a>
            </div>
        </div>
    </div>
    {% for c in communities %}
    <div class="community">
        <div class="community-header">
            <h3>{{ c.name }}</h3>
            <p>{{ c.description }}</p>
            <div class="btn">
                <a href="{% url 'community' c.name %}">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
