{% extends "base.html" %}

{% block title %} FaGo | Home {% endblock %}

{% block content %}

<div class="blog_">
    <h2>Blog Details</h2>
    {% if blog %}
        <div class="blog_-entry">
            <div class="blog_-title">{{ blog.Title }}</div>
            <div class="blog_-content">{{ blog.Content }}</div>
            <p></p>
                <a href="{{ url_for('views.delete_blog', id=blog.ID) }}" class="delete-button">Delete Blog</a>
        </div>
    {% else %}
        <p>No blog found.</p>
    {% endif %}
</div>

            <!-- <form id="deleteForm" method="POST" action="" onsubmit="submitDeleteForm(event)">
                <input type="hidden" id="blogId" name="blogId" value="{{ blog.ID }}">
                <button type="submit" class="delete-button">Delete Blog</button>
            </form> -->
{% endblock %}